body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: helvetica, arial, sans-serif;
  padding: 10vh;
  height: 100vh;
  padding-bottom: 200vh;
  max-width: 50em;
  margin: 0 auto;
  font-family: helvetica, arial, sans-serif;
}

h1 {
  font-style: italic;
  color: #000;
}

.example-wrapper, 
.frame-wrapper {
  padding-top: 75%;
  width: 100%;
  margin-bottom:10vh;
}

.frame-wrapper {
  position: relative;
  overflow: hidden;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.example-wrapper {
  position: relative;
  display: flex;
}

.apple-juice-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items : center;
}

.apple-juice-box {
  width: 30%;
  margin: 15% 35% 0 0;
}

.spill .apple-juice-box {
  animation: .75s ease-in forwards tip;
}

.clean .apple-juice-box {
  animation: .75s ease-in forwards tip-clean;
}

.apple-juice {
  position: absolute;
  width: 35%;
  margin: 21% 0 0 2%;
  transform: scale(0);
}

.apple-juice g {
  fill: rgb(0, 0, 0)
}

.spill .apple-juice {
  animation: 1.5s ease-in .75s 1 forwards spill; 
}

.clean .apple-juice {
  animation: .5s ease-in 1 forwards spill-clean;
}

@keyframes tip {
  0% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(110deg);
  }
}

@keyframes spill {
  0% {
    transform: rotate(-0.09turn) scale(.1) translate(-2%, -3%);
  }
  100% {
    transform: rotate(-0.09turn) scale(.8) translate(0, 0);
  }
}

@keyframes tip-clean {
  0% {
    transform: rotate(110deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes spill-clean {
  0% {
    transform: rotate(-0.09turn) scale(.9) translate(0, 0);

  }
  100% {
    transform: rotate(-0.09turn) scale(0);
  }
}
