body {
  font-family: helvetica, arial, sans-serif;
  background: #5fdce3;
  display: flex;
  height: 100vh;
  margin: 0;
}

.apple-juice-wrapper {
  display: flex;
  justify-content: center;
  align-items : center;
  width: 100vw;
  height: 75vw;
}

.apple-juice-box {
  width: 30%;
  margin: 15% 35% 0 0;
}

.spill .apple-juice-box {
  animation: .75s ease-in forwards tip;
}

.clean .apple-juice-box {
  animation: .75s ease-in forwards tip-clean;
}

.apple-juice {
  position: absolute;
  width: 35%;
  margin: 21% 0 0 2%;
  transform: scale(0);
}

.apple-juice g {
  fill: rgb(0, 0, 0)
}

.spill .apple-juice {
  animation: 1.5s ease-in .75s 1 forwards spill; 
}

.clean .apple-juice {
  animation: .5s ease-in 1 forwards spill-clean;
}

@keyframes tip {
  0% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(110deg);
  }
}

@keyframes spill {
  0% {
    transform: rotate(-0.09turn) scale(.1) translate(-2%, -3%);
  }
  100% {
    transform: rotate(-0.09turn) scale(.8) translate(0, 0);
  }
}

@keyframes tip-clean {
  0% {
    transform: rotate(110deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes spill-clean {
  0% {
    transform: rotate(-0.09turn) scale(.9) translate(0, 0);

  }
  100% {
    transform: rotate(-0.09turn) scale(0);
  }
}
